*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    /* background: #0002; */
    scroll-behavior:smooth;
    /* outline:1px solid red; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
:root{
    --color:#008080;
    --color2: #003366;

}
.a23{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    padding:.6em;
    /* background:whitesmoke; */
    background: #0002;
    
}
.b20{
    height: 75%;
    width:15%;
    display:flex;
    flex-direction:column;
    margin:0 .3em;
    padding:.6em;
    border-radius:5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

    /* outline:1px solid grey; */
}
.b201{
    color: darkslategray;
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 1.1em;
    /* margin-inline: 2em; */
}
.b201 a{
    text-decoration: none;
    color: darkslategrey;

}
.b21{
    height:100%;
    width:65%;
    display:flex;
    flex-direction:column;
    padding:.6em;
    margin:0 .3em;
    /* outline:1px solid grey; */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

    /* background:whitesmoke; */
    overflow-y:scroll;
}
.b21::-webkit-scrollbar{
    display:none;
}
header{
    text-align:center;
}
header h5{
    font-size:2.3em;
}
header h5 span{
    color:var(--color);
}
.b21a1{
    height:100vh;
    padding:1em 0;
}



.b21a{
    display:flex;
    padding:0 1em;
}
.b21b{
    display:flex;
    flex-direction:column;
    height:100%;
    padding:1em;
    margin:.5em 0;
}
.b21a h5{
    font-size:2em;
    color: var(--color);
}
.navigation-links{
    display:flex;
    flex-direction:column;
    padding:1em .5em;
    margin:1em 0;
}
.navigation-links a{
    text-align:center;
    text-decoration:none;
    color:var(--color);
    padding:.5em;
    font-size:1.2em;
    margin:.3em 0;
}
.navigation-links a:hover{
    color:whitesmoke;
    background:var(--color);
}
.profile{
    display:flex;
    /* flex-direction:column; */
    justify-content:center;
    padding:.4em;
    margin:1em 0;
}
.profile ul{
    list-style:none;
    padding:.4em;
}
.profile li:nth-child(1){
    width:150px;
    height:150px;
    border-radius:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:.3em;
    border:1px solid grey;
}
.profile li img{
    width:95%;
    height:95%;
    border-radius:50%;
}
.profile li:nth-child(2){
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
/* .recent-activities{
    display:flex;
    height:70%;
    flex-direction:column;
    padding:.4em;
    margin:1em 0;
}
.recent-activities span{
    font-size:1.3em;
} */
/* .activities{
    height:90%; 
    margin:.5em 0;
} */
.overview{
    display:flex;
    justify-content:space-between;
    /* padding:0 1em; */
    /* margin:.5em; */
    /* outline:1px solid grey; */
}
.banner-1,.banner-2,.banner-3{
    height: 5em;
    width: 32%;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-1{
    background-color: #003366;
}
.banner-2{
    background-color: #008080;
}
.banner-3{
    background-color: #4169E1;

}

 .span-1{
    color: whitesmoke;
    font-size: 1.1em;
}
.span-2{
    color: #ccc;
    font-size: 3em;
    font-weight: 300;
}
table{
    margin:0.5em;
    padding:1em .2em;
    border-radius:3px;
    font-size:1.2em;
    /* outline:1px solid grey; */
}
table th{
    color: darkslategrey;
}
table td{
    color: darkslategrey;
}
.analysis{
    height:40%;
    margin:.5em 0;
    border-radius:7px;
    /* outline:1px solid grey; */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

}
.analysis span{
    color: var(--color2);
    font-size: 1.2em;
    margin: .5em;
}
.recent-orders{
    height:40%;
    margin:.5em 0;
     border-radius:7px;
    /* outline:1px solid grey; */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

}
.recent-orders span{
    font-size:1.2em;
    margin:.5em;
    color: var(--color2);


}
.recent-orders table{
    width:80%;
    height:80%;
}
.table{
    display:flex;
    /* justify-content:center; */
    /* width:100%; */
    height:80%;
    /* padding:.2em; */
}
.table table{
    outline:none;
}
.table table td{
    border:0;
    text-align:center;
}

#aa,#aa1, #aa2{
    height: 85vh;
}
#messages{
    margin-top: 2em;
}

#aa1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.message img{
    height: 120px;
    width: 120px;
}

/* mind the following code  */

#grid-container{
    display: grid;
    width: 100%;

    grid-auto-columns:  200px;
    grid-auto-flow: column;
 
    overflow-x: scroll;
 
    
}



.container-header{
    font-size: 1.3em;
    margin:.3em;
    /* font-weight: 300; */
    /* color: whitesmoke; */
    /* width: 95%; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* margin-top: 5em; */
    /* border-radius: 8px; */
}


 .category-list{
        height: 60%;
        width:100%;
        margin: 0;
        border: none;
        

    
    }
    .category-list ul{
        display: flex;
        /* padding:1em; */
        /* justify-content: flex-start; */
        overflow-x: scroll;
        /* height: 10; */
        
    }
     .category-list ul::-webkit-scrollbar{
    display:none;
    }
    .category-list li{
        display: flex;
        text-align:center;
        padding:0.1em 1em;
        /* align-self: center; */
       /* height: auto; */
        /* width: 100%; */
        outline: 1px solid #008080;
        margin: 0.5em;
        /* padding:  .4em; */
        margin-bottom: .2em;
        margin-top: .2em;
        border-radius: 10px;
        font-size: 1.2em;
        /* font-weight: 300; */
    
    }






.category-list  li:hover{
    background-color: #008080;
    color:white;
    cursor:pointer;
    transition: 0.3s ease;
}


.grid-container::-webkit-scrollbar, .grid-container-3::-webkit-scrollbar{
    display: none;
}
#grid-container::-webkit-scrollbar, .grid-container-3::-webkit-scrollbar{
    display: none;
}

 .grid-content{
    outline:1px solid grey;
    border-radius:7px;
    width: 95%;
    height:200px;
    margin:0.5em;
}





.grid-content img{
    width: 100%;    
    height: 60%;
    border-radius:7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
}

.grid-content p{
    padding: .1em;
    /* color: whitesmoke; */
    font-weight: 200;
}




.grid-content h4{
    /* color: gray; */
    font-size: 20px;
    align-self: baseline;
    font-weight: 300;
    
}
.grid-content .extras{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-self: baseline; */
    margin: .5em 0;

    padding: 0 ;
}
.grid-content .stars{
    font-size: 10px;
    color: goldenrod;
    align-self: center;
}

.grid-content .cart{
    font-size: 1.2em;
    color: #008080;
    align-self: baseline;

}
.grid-content .cart:hover{
    font-size: 1.2em;
    color: whitesmoke;
    align-self: baseline;

}

.grid-container-2{
    display: grid;
    width: 90%;
    height: 80vh;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-auto-rows: 50%;
}

.grid-container-2 .grid-content{
    border: 1px solid darkslategray;
}
 /* dont forget the above code */