*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./background/1441222.jpg");
    
}

.logo{
    padding: 0.5em;
}
.logo h5{
    color: whitesmoke;
    font-size: 1.2em;

}
.logo span{
    color: #008080;
}

.main{
    width: 40%;
    height: 80%;
    position: relative;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 1); 
}



.content{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5em;
    margin: 1em 0;

    width: 100%;
    
}
.logincontent{
    position: absolute;
    bottom: 5%;
    left: 0;
    padding: 0.5em;
    margin: 1em 0;
    width: 100%;
    
}

.content h3, .content p{
    margin: 0.7em 0;
    color: whitesmoke;
}

.input{
    display: flex;
    flex-direction: column;
    padding: 1em 0;
}

input{
    padding: .7em;
    background: none;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
    color: whitesmoke;
    font-size: 1.1em;
    margin: .2em 1em;

}

input:focus{
    border-bottom: 1px solid #008080;
}

.or{
    color: whitesmoke;
}

.button{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}


.button a {
    width: 100% ;
    margin-block: 1em;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.button a button{
    width: 100%;
    padding: 0.7em;
    border-radius: 50px;
    border: 1px solid #008080 ;
    background: transparent;
    color: #008080;
    
}

.button a:hover button{
    background-color: #008080;
    color: whitesmoke;
    transition: 0.5s ease;
}

.forgot{
    color: #008080;
}

.forgot:hover{
    color: whitesmoke;
}




/* LANDING PAGE CSS */

section{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("./background/1441222.jpg");
    
}

nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
    margin: .5em;
}


.two{
    display: flex;
    justify-content: center;
}

.logoname{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoname h5{
    color: whitesmoke;
    font-size: 1.2em;

}
.logoname span{
    color: #008080;
}

.menu, .menuitems{
    display: flex;
    justify-content: center;
}
/*  */


.menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul a{
    text-decoration: none;
    color: white;
    margin: 1em;
    font-size: 1.1em;
    transition: 0.3s ease;

}
.menu ul a:hover{
    color: #008080;
}


.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile a{
    color: whitesmoke;
    text-decoration: none;
    margin: 0 .5em;
    font-size: 1.1em;
    transition: 0.3s ease;

}
.profile a:hover{
    color: #008080;
}


/* hamburger section */
.hamburger{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* on click */
.hamburger span{
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 3px 0;
    transition: all 0.4s ease-in-out;
}

/* hamburger animation */


.hamburger.active .hamburgerspan:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .hamburgerspan:nth-child(2){
    display: none;
}
.hamburger.active .hamburgerspan:nth-child(3){
    transform: translateY(0px) rotate(-45deg);
}















/* MEDIA QUERIES */

/* big screens */
@media (min-width:992px){
    
    .main{
        width: 25%;
        /* height: 60%; */
        position: relative;
        
    
    }
}


/* big tablets and small laptops */
@media (max-width:768px){
    .main{
        width: 55%;
        position: relative;
        
    
    }

    nav{
        position: fixed;
        top: 0;
        width: 100%;
    }
    

    /* ikomo shida */
    .menuitems{
        display: none;
        position: absolute;
        
        background-color: #008080;
        top: 20%;
        right: 5%;
        border-radius: 10px;
        margin-top: 10%;
        height: 80vh;
        
        transition: 0.5s ease;
        justify-content: space-between;
        padding: 2em 4em;
    }
    .menuitems ul a, .profile a{
        margin-block: 0.5em;
    }
    .hamburger{
        display: flex;
        margin: 0 ;

        
    }

    .menuitems.active, .menuitems.active ul,
    .menuitems.active ul a, .menuitems.active .profile{
    display: flex;
    flex-direction: column;
    
}

.menu ul a:hover{
    color: black;
}
.menu ul a{
    
    font-size: 1em;

}

.profile a{
    font-size: 1em;
}
.profile a:hover{
    color: black;
}

    
}



/* smaller tablets */
@media (max-width:576px){
    main{
        height: 90vh;
        padding: 1em;
        
    }
    .main{
        width: 65%;
        position: relative;
        border-radius: 10px;
        border: 1px solid white;
        
        
    }

    
    
}





/* phones */
@media (max-width:490px){
    .main{
        width: 100%;
        height: 70vh;
        position: relative;
        /* border-radius: none;
        border: none; */
        margin-bottom: 5%;
    }



    
}


/* smaller phones */
@media (max-width:400px){
    .main{
        width: 100%;
        /* height: 100vh; */
        position: relative;
        margin-bottom: 5%;

        
    }
}




