*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
    scroll-behavior: smooth;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./background/1441222.jpg");
    
}

.logo{
    padding: 0.5em;
}
.logo h5{
    color: whitesmoke;
    font-size: 1.2em;

}
.logo span{
    color: #008080;
}

.main{
    width: 40%;
    height: 80%;
    position: relative;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 1); 
}



.content{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5em;
    margin: 1em 0;

    width: 100%;
    
}
.logincontent{
    position: absolute;
    bottom: 5%;
    left: 0;
    padding: 0.5em;
    margin: 1em 0;
    width: 100%;
    
}

.content h3, .content p{
    margin: 0.7em 0;
    color: whitesmoke;
}

.input{
    display: flex;
    flex-direction: column;
    padding: 1em 0;
}

input{
    padding: .7em;
    background: none;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
    color: whitesmoke;
    font-size: 1.1em;
    margin: .2em 1em;

}

input:focus{
    border-bottom: 1px solid #008080;
}

.or{
    color: whitesmoke;
}

.button{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}


.button a {
    width: 100% ;
    margin-block: 1em;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.button a button{
    width: 100%;
    padding: 0.7em;
    border-radius: 50px;
    border: 1px solid #008080 ;
    background: transparent;
    color: #008080;
    
}

.button a:hover button{
    background-color: #008080;
    color: whitesmoke;
    transition: 0.5s ease;
}

.forgot{
    color: #008080;
}

.forgot:hover{
    color: whitesmoke;
}




/* LANDING PAGE CSS */

.sec-1{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./background/1441222.jpg");
    
}

nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
    margin: .5em;

    top: 0;

    
    background-color: #0005; /*transparent background*/
    line-height: 5px;
}


.two{
    display: flex;
    justify-content: center;
}

.logoname{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoname h5{
    color: whitesmoke;
    font-size: 1.2em;

}
.logoname span{
    color: #008080;
}

.menu, .menuitems{
    display: flex;
    justify-content: center;
}

.menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul a{
    text-decoration: none;
    color: white;
    margin: 1em;
    font-size: 1.1em;
    transition: 0.3s ease;

}
.menu ul a:hover{
    color: #008080;
}


.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile a{
    color: whitesmoke;
    text-decoration: none;
    margin: 0em 0.8em ;
    font-size: 1.2em;
    transition: 0.3s ease;

}
.profile a:hover{
    color: #008080;
}


/* hamburger section */
.hamburger{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* on click */
.hamburger span{
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 3px 0;
    transition: all 0.4s ease-in-out;
}

/* hamburger animation */


.hamburger.active .hamburgerspan:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .hamburgerspan:nth-child(2){
    display: none;
}
.hamburger.active .hamburgerspan:nth-child(3){
    transform: translateY(0px) rotate(-45deg);
}


/* main content */
.maincontent{
    color: whitesmoke;
    margin: 0 1em;
}

.maincontent h1{
    font-size: 7em;
    font-weight: 100;

}

.maincontent span{
    color: #008080;
}

.maincontent p{
    font-size: 1.5em;
}

.maincontent a button{
    padding: .5em 2em;
    margin-top: 2em;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 7px;
    font-size: 1.2em;
    transition: .3s ease;
}

.maincontent a button:hover{
    
    color: #008080;
    background: white;
   
}

/* Section Two */

.sec-2, .sec-3{
    background-image: url("./background/1441222.jpg");
    background-color: whitesmoke;
    
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec-2 span, .sec-3 span{
    font-size: 2em;
    font-weight: 200;
    color: darkslategray;
    margin: .5em;
}


.grid-container{
    display: grid;
    width: 90%;
    height: 80vh;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 250px;
    overflow-y: scroll;
}


.grid-container::-webkit-scrollbar{
    display: none;
}

 .grid-content{
    margin:  .5em  ;
    background-color: #0009;
    border: 1px solid darkslategray;
    border-radius: 10px;
    padding: .5em;
}



.grid-content img{
    width: 100%;    
    height: 60%;
    
}

.grid-content p{
    padding: .1em;
    color: white;
    font-weight: 200;
}




.grid-content h4{
    color: #008080;
    font-size: 20px;
    align-self: baseline;
    font-weight: 300;
    
}
.grid-content .extras{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-self: baseline; */
    margin: .5em 0;

    padding: 0 ;
}
.grid-content .stars{
    font-size: 10px;
    color: goldenrod;
    align-self: center;
}

.grid-content .cart{
    font-size: 1.2em;
    color: #008080;
    align-self: baseline;

}

.grid-container-2{
    display: grid;
    width: 90%;
    height: 80vh;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-auto-rows: 50%;
}

.grid-container-2 .grid-content{
    border: 1px solid darkslategray;
}


/* section four */
.sec-4{
    background-image: url("./background/1441222.jpg");
    background-color: whitesmoke;
    
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container-3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-auto-rows: 30%;
    width: 90%;
    height: 80vh;
    margin-top: 20%;
    /* padding: 2em; */
}



/* contact us */

.grid-container-3 .grid-content .img i{
    font-size: 40px;
    color: whitesmoke;
    
}











/* MEDIA QUERIES */

/* big screens */
@media (min-width:1200px){
    
    .main{
        width: 25%;
        /* height: 60%; */
        position: relative     
    
    }
    .maincontent{
        color: whitesmoke;
        padding: 0 1em;
        width: 65%;
    }

}

@media (min-width:992px){
    
    .main{
        width: 25%;
        /* height: 60%; */
        position: relative     
    
    }
}

/*  */
@media (max-width:990px){
    
}



/* big tablets and small laptops */
@media (max-width:768px){
    .main{
        width: 55%;
        position: relative;
    }

    nav{
        position: fixed;
        top: 0;
        width: 100%;
    }
    

    .menuitems{
        display: none;
        position: absolute;
        background-color: #008080;
        top: 20%;
        right: 5%;
        border-radius: 10px;
        margin-top: 10%;
        height: 80vh;
        
        transition: 0.5s ease;
        justify-content: space-between;
        padding: 2em 4em;
    }
    .menuitems ul a, .profile a{
        margin-block: 1em;
    }
    .hamburger{
        display: flex;
        margin: 0 ;

        
    }

    .menuitems.active, .menuitems.active ul,
    .menuitems.active ul a, .menuitems.active .profile{
    display: flex;
    flex-direction: column;
    
}

.menu ul a:hover{
    color: black;
}
.menu ul a{
    
    font-size: 1em;

}


.profile a:hover{
    color: black;
}


/* main content */
.maincontent{
    color: whitesmoke;
    padding: 0 1em;
}

.maincontent h1{
    font-size: 5em;

}



.maincontent p{
    font-size: 1.2em;
}


.grid-container-2{
    display: grid;
    width: 90%;
    height: 60vh;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    grid-auto-rows: 40%;
}



}





/* smaller tablets */
@media (max-width:576px){
    main{
        height: 100vh;
        padding: 1em;
        
    }
    .main{
        width: 65%;
        position: relative;
        border-radius: 10px;
        border: 1px solid white;
        
        
    }  
    
    .maincontent h1{
        font-size: 5em;
        font-weight: 100;
    
    }
    
    
    
    .maincontent p{
        font-size: 1em;
    }


    .maincontent a button{
        margin-top: 20%;  
        margin-left: 25%;      
    }


    .grid-container, .grid-container-3{
        display: grid;
        width: 100%;
        height: 90vh;
        grid-template-columns: repeat(auto-fit, 50%);
        overflow-y: scroll;
    }

}



/* phones */
@media (max-width:490px){
    .main{
        width: 100%;
        height: 70vh;
        position: relative;
        margin-bottom: 5%;
    }

    .profile a{
    font-size: 1.2em;

    }

    
    
    
    .grid-container, .grid-container-3{
        display: grid;
        width: 100%;
        height: 90vh;
        grid-template-columns: repeat(auto-fit, 50%);
        overflow-y: scroll;
    }

    .sec-3 .grid-container-2{
        margin-bottom: 25%;
    }
    
    .grid-container-3{
        
        margin-top: 50%;
        /* padding: 2em; */
    }

}


/* smaller phones */
@media (max-width:400px){
    .main{
        width: 100%;
        position: relative;
        margin-bottom: 5%;      
    }

    
}




